<p style="color: green"><%= notice %></p>

<div id="page-content">
  <div class="container">
    <div class="jumbotron jumbotron-fluid" id="home-container">
      <div class="container text-center text-white">
        <h1 class="display-4">Greek island</h1>
        <p class="lead">Please log in to see or change your schedule or to see any updates</p>
        <button type="button" class="btn btn-primary">Sign up</button>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; Irritating colleague
</small>
  </div>
</footer>