
<div id="page-content"> 
    <div class="container">
        <div class="jumbotron text-center" >
            <div class="container container-fluid bg-secondary text-center text-white" id="home-container">
            <h1 class="display-4">Fluid jumbotronnn</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <a class="btn btn-success btn-lg" href="#" role-"button">Sign up!</a>
            </div>
        </div>
    </div>
</div>
