/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  color: white;
  background: url('/assets/greeklogo.png') !important;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: green;

  background-size: cover;
}

#home-container {
  margin-top: 25px;
  /* background-image: asset-url('greeklogo.png') !important;  */
  background: url('greekisland-hero.jpg') no-repeat center center;
  background-image: url('greekisland-hero.jpg') no-repeat center center !important;
  background-image: url('~/app/assets/images/greekisland-hero.jpg') no-repeat center center !important; 
  background-size: cover;
  height: 600px;
  background-color: red;
}

.jumbotron {
  /* background: asset-url('app/assets/stylesheets/greekisland-hero.jpg') !important; */
  background: asset-url('greeekisland-hero.jpg') no-repeat center center !important;
  background-size: cover;
  height: 600px;
  background-color: gray;

}
