<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
    <small>Made buy: Irritating colleague | Copyright &copy; Greek Island Taverna | 2022 </small>
    </div>
</footer>